
<div class="custom-simple--card product--{{ sec.id }}">
    <img 
    src="{{ item.featured_media | img_url: 'master' }}" 
    alt="product pic" 
    class="product-pic" 
    loading="lazy">
    <div class="title-cart-mix">
      <div class="custom-product--cart--text">
          <h1>{{ item.title }}</h1>
      </div>
      <form method="post" 
        action="/cart/add" 
        id="add-product--{{ item.id }}" 
        accept-charset="UTF-8" 
        class="add-to-cart--custom" 
        enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{ item.variants.first.value }}" id="variant--{{ item.id }}">
          <input type="hidden" name="product-id" value="{{ item.id }}">
          <button id="add--{{ item.id }}" type="submit" class="quick-add" disabled>
            {% render 'icon-cart' %}
          </button>
      </form>  
    </div>
    <p>{{ item.price |  money_without_trailing_zeros }}</p>
</div>