
<div class="custom-simple--card product--{{ sec.id }}">
    <img 
    src="{{ item.featured_media | img_url: 'master' }}" 
    alt="product pic" 
    class="simple-product-pic" 
    loading="lazy">
    <div class="title-cart-mix">
      <div class="custom-product--cart--text">
          <a href="{{ item.url }}">{{ item.title }}</a>
      </div>
      <div class="flex">
        <button class="quick-add">{% render 'heart_icon' %}</button>
        <form method="post" 
          action="/cart/add" 
          id="add-product--{{ item.id }}" 
          accept-charset="UTF-8" 
          class="add-to-cart--custom" 
          enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ item.variants.first.id }}" id="variant--{{ item.id }}">
            <input type="hidden" name="product-id" value="{{ item.id }}">
            <button id="add--{{ item.id }}" type="submit" class="quick-add">
              {% render 'icon-cart' %}
            </button>
        </form>
      </div>
    </div>
    <p>{{ item.price |  money_with_currency }}</p>
</div>