{% assign selected_collection = collections[section.settings.product_slides] %}

<div class="custom-slider--father">
    <div class="custom-slider--main-container">
        <div class="custom-slider--top-content">
            <h1>{{ section.settings.heading }}</h1>
            <div class="custom-slider--arrows-box">
                <button class="custom-slider--arrows" id="prev--{{ section.id }}">
                    <span>{% render 'reviews-left-arrow' %}</span>
                </button>
                <button class="custom-slider--arrows" id="next--{{ section.id }}">
                    <span>{% render 'reviews-right-arrow' %}</span>
                </button>
            </div>
        </div>
        <div class="custom-slider--first-slider-container {{ section.settings.align }}">
            <div class="custom-slider--slider">
              <div class="custom-slider--inner-box slider--{{ section.id }}">             
                {% if section.settings.content == "products" %}
                    {% for product in selected_collection.products %}
                        <div class="custom-product--cart product--{{ section.id }}">
                            <img 
                            src="{{ product.featured_media | img_url: 'master' }}" 
                            alt="product pic" 
                            class="product-pic" 
                            loading="lazy">
                            <div class="custom-product--cart--text">
                                <h1>{{ product.title }}</h1>
                            </div>
                            <p>{{ product.price |  money_without_trailing_zeros }}</p>
                        </div>
                    {% endfor %}
                {% elsif section.settings.content == "collections" %}
                    {% for collection in section.settings.collections %}
                        <a 
                        href="{{ collection.url }}" 
                        class="custom-collection--card collection--{{ section.id }}" 
                        style="background-image: url('{{ collection.image | img_url: 'master' }}');">
                            <h1>{{ collection.title }}</h1>
                        </a>
                    {% endfor %}
                {% elsif section.settings.content == "reviews" or section.settings.content == "videos" %}
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'review' %}
                                <div class="reviews-block--container review-slide--{{ section.id }}">
                                    <div class="reviews-block--flex-column">
                                        <img 
                                        src="{{ block.settings.stars | img_url: 'master' }}" 
                                        alt="stars" 
                                        class="stars" 
                                        loading="lazy">
                                        <h1>{{ block.settings.heading }}</h1>
                                        {{ block.settings.text }}
                                        <div class="reviews-block--profile flex gap-15">
                                            <img 
                                            src="{{ block.settings.profile_pic | img_url: 'master' }}" 
                                            alt="profile pic" 
                                            loading="lazy" 
                                            class="profile-pic">
                                            <div class="flex-column gap-5">
                                                {{ block.settings.profile_info }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           {% when 'video' %} 
                              <video class="video--{{ section.id }}" width="230" height="400" controls>
                                  <source src="{{ block.settings.video | video_tag }}">
                              </video>
                        {% endcase %}
                    {% endfor %}
                {% endif %}
              </div>
            </div>
        </div>
    </div>
</div>

<script>
  function BuildSlider(id, layout) {
    const slider = document.querySelector(".slider--"+id);
    let slides = ''

    function actualizarVariable(layoutt, l1, l2, l3, l4) {
      if (layoutt == "products") {
        slides = l1;
      } else if (layoutt == "reviews") {
        slides = l2;
      } else if (layoutt == "collections") {
        slides = l3;
      } else {
        slides = l4;
      }
    }
    
    actualizarVariable("{{ section.settings.content }}", document.querySelectorAll(".product--{{ section.id }}"), document.querySelectorAll(".review-slide--{{ section.id }}"), document.querySelectorAll(".collection--{{ section.id }}"), document.querySelectorAll(".video--{{ section.id }}"));

    // console.log(document.querySelectorAll(".collection--{{ section.id }}").length, slides.length)
    
    const prevButton = document.getElementById("prev--"+id);
    const nextButton = document.getElementById("next--"+id);
    const slideWidth = slides[0].offsetWidth;
    let screenWidth = window.innerWidth;
    let currentIndex = 0;
    let viewBreaker = 0
  
    if (screenWidth >= 1280) {
        viewBreaker = 2
    } else if (screenWidth > 900 && screenWidth < 1280) {
        viewBreaker = 1
    } else {
        viewBreaker = 0;
    }
    
    nextButton.addEventListener("click", (e) => {
        currentIndex = (currentIndex + 1) % (slides.length - viewBreaker);
        updateSlider();
        e.preventDefault();
    });
    
    prevButton.addEventListener("click", (e) => {
        // currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        currentIndex = currentIndex - 1;
        if (currentIndex < 0) {
          currentIndex = slides.length - viewBreaker - 1
        }
        updateSlider();  
        e.preventDefault();
    });
    
    function updateSlider() {
      console.log(currentIndex)
        const offset = -currentIndex * (slideWidth + 50);
        slider.style.transform = `translateX(${offset}px)`;
    }
    
    updateSlider();
  }

  var slider = new BuildSlider("{{ section.id }}", "{{ section.settings.content }}")
    

</script>

{% schema %}
    {
        "name": "custom slider",
        "class": "custom-slider--new",
        "blocks": [
            {
                "name": "review",
                "type": "review",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "stars",
                        "label": "Review's stars"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "<p>Text</p>"
                    },
                    {
                        "type": "image_picker",
                        "id": "profile_pic",
                        "label": "Profile pic"
                    },
                    {
                        "type": "richtext",
                        "id": "profile_info",
                        "label": "<p>Profile info</p>"
                    }
                ]
            }, 
            {
                "name": "video",
                "type": "video",
                "settings": [
                    {
                        "type": "video",
                        "id": "video",
                        "label": "Video"
                    }
                ]
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Main heading"
            },
            {
               "type": "select",
               "id": "content",
               "label": "Choose content type",
               "options": [
                    {
                        "value": "products",
                        "label": "products"
                    },
                    {
                        "label": "reviews",
                        "value": "reviews"
                    },
                    {
                        "label": "collections",
                        "value": "collections"
                    },
                    {
                        "label": "videos",
                        "value": "videos"
                    }
               ]
            },
            {
                "type": "collection",
                "id": "product_slides",
                "label": "Collection"
            },
            {
                "type": "collection_list",
                "id": "collections",
                "label": "Colllection list"
            },
            {
                "type": "checkbox",
                "id": "dots",
                "default": true,
                "label": "Progress bars"
            },
            {
               "type": "select",
               "id": "align",
               "label": "align the slider",
               "options": [
                    {
                        "value": "centeer",
                        "label": "center"
                    },
                    {
                        "label": "right",
                        "value": "right"
                    },
                    {
                        "label": "left",
                        "value": "left"
                    }
               ],
              "default": "centeer"
            }
        ],
        "presets": [
            {
                "name": "Custom slider"
            }
        ]
    }
{% endschema %}