<div class="custom-flex--father" {% if section.settings.bg_options == "image" %}
style="background-image: url('{{ section.settings.bg_img | img_url: "master" }}');"{% else% %}style="background-color: {{ section.settings.bg_color }}"{% endif %}>
    <div class="custom--flex-box">
        <div class="custom-flex--centering">
            <div class="custom-flex--main-content-box">
                <div class="custom-flex--img-box {% if section.settings.align == "left" %}no-presence{% endif %}">
                    <img 
                    src="{{ section.settings.main_img | img_url: "master" }}" 
                    alt="main" 
                    class="custom-flex--img" 
                    loading="lazy">
                </div>
                <div class="custom-flex--info-container">
                  <div class="custom-flex--headingg">
                    <h1>{{ section.settings.heading }}</h1>
                    {% if section.settings.heading_img != blank %}
                        <img 
                        src="{{ section.settings.heading_img | img_url: "master" }}" 
                        alt="heading" 
                        class="heading-img" 
                        loading="lazy">   
                    {% endif %}                   
                  </div>
                    {{ section.settings.content }}
                    {% if section.settings.btn_url != blank %}
                        <a href="{{ section.settings.btn_url }}" class="custom-flex--btn">
                            {{ section.settings.btn_text }}
                        </a> 
                    {% endif %}
                </div>
                {% if section.settings.align == "left" %}
                    <div class="custom-flex--img-box custom-flex--image-left">
                        <img 
                        src="{{ section.settings.main_img | img_url: "master" }}" 
                        alt="main" 
                        class="custom-flex--img" 
                        loading="lazy">
                    </div>  
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "custom flex section",
        "class": "custom-flex--section",
        "settings": [
            {
                "type": "select",
                "id": "bg_options",
                "options": [
                    {
                        "label": "image",
                        "value": "image"
                    },
                    {
                        "label": "color",
                        "value": "color"
                    }
                ],
                "default": "image",
                "label": "Background content"
            },
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background image"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background color"
            },
            {
                "type": "select",
                "id": "align",
                "options": [
                    {
                        "label": "left",
                        "value": "left"
                    },
                    {
                        "label": "right",
                        "value": "right"
                    }
                ],
                "default": "left",
                "label": "Image position"
            },
            {
                "type": "image_picker",
                "id": "main_img",
                "label": "Main image"
            },
            {
                "type": "color",
                "id": "font_color",
                "label": "font color",
                "default": "#fff"
            },
            {
                "type": "text",
                "id": "heading",
                "default": "heading",
                "label": "Heading"
            },
            {
                "type": "image_picker",
                "id": "heading_img",
                "label": "Heading img"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Content"
            },
            {
                "type": "url",
                "id": "btn_url",
                "label": "Link"
            },
            {
                "type": "text",
                "id": "btn_text",
                "label": "Button text"
            }
        ],
        "presets": [
            {
                "name": "custom flex section"
            }
        ]
    }
{% endschema %}