{% assign selected_collection = collections[section.settings.product_slides] %}

<div class="custom-slider--father">
    <div class="custom-slider--main-container">
        <div class="custom-slider--top-content">
            <h1>{{ section.settings.heading }}</h1>
            <div class="custom-slider--arrows-box">
                <button class="custom-slider--arrows" id="prev--{{ section.id }}">
                    <span>{% render 'reviews-left-arrow' %}</span>
                </button>
                <button class="custom-slider--arrows" id="next--{{ section.id }}">
                    <span>{% render 'reviews-right-arrow' %}</span>
                </button>
            </div>
        </div>
        <div class="custom-slider--first-slider-container {{ section.settings.align }}">
            <div class="custom-slider--slider {{ section.settings.content }}--width">
              <div class="align-gap--{{ section.settings.content }} custom-slider--inner-box slider--{{ section.id }}">             
                {% if section.settings.content == "products" %}
                  {% if section.settings.allow_portrait == true %}
                    <div class="portrait-container product--{{ section.id }}">
                      <img 
                      src="{{ section.settings.portrait | img_url: 'master' }}" 
                      alt="portrait pic" 
                      class="portrait-pic" 
                      loading="lazy">
                    </div>
                  {% endif %}
                  {% for pro in selected_collection.products %}
                      <div class="custom-product--cart product--{{ section.id }}">
                          <img 
                          src="{{ pro.featured_media | img_url: 'master' }}" 
                          alt="product pic" 
                          class="product-pic" 
                          loading="lazy">
                          {% if section.settings.allow_variants %}
                          <div class="flex-between upper-belt">
                            <div id="color-radios--container--{{ pro.id }}" class="radio-colors--container"></div>
                              <form method="post" 
                                action="/cart/add" 
                                id="form-add-product--{{ pro.id }}" 
                                accept-charset="UTF-8" 
                                class="add-to-cart--custom" 
                                enctype="multipart/form-data">
                                  <input type="hidden" name="id" id="chosen-variant--{{ pro.id }}">
                                  <input type="hidden" name="product-id" value="{{ pro.id }}">
                                  <button id="add--{{ pro.id }}" type="submit" class="quick-add" disabled>
                                    {% render 'icon-cart' %}
                                  </button>
                              </form>
                              <input type="hidden" id="p--{{ pro.id }}">{{ pro.id }}<input>
                            </div>
                          {% endif %}
                          <div class="custom-product--cart--text">
                              <h1>{{ pro.title }}</h1>
                          </div>
                          <p>{{ pro.price |  money_without_trailing_zeros }}</p>
                      </div>
                  {% endfor %}
                {% elsif section.settings.content == "collections" %}
                    {% for collection in section.settings.collections %}
                        <a 
                        href="{{ collection.url }}" 
                        class="custom-collection--card collection--{{ section.id }}" 
                        style="background-image: url('{{ collection.image | img_url: 'master' }}');">
                            <h1>{{ collection.title }}</h1>
                        </a>
                    {% endfor %}
                {% elsif section.settings.content == "reviews" or section.settings.content == "videos" %}
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'review' %}
                                <div class="reviews-block--container review-slide--{{ section.id }}">
                                    <div class="reviews-block--flex-column">
                                        <img 
                                        src="{{ block.settings.stars | img_url: 'master' }}" 
                                        alt="stars" 
                                        class="stars" 
                                        loading="lazy">
                                        <h1>{{ block.settings.heading }}</h1>
                                        {{ block.settings.text }}
                                        <div class="reviews-block--profile flex gap-15">
                                            <img 
                                            src="{{ block.settings.profile_pic | img_url: 'master' }}" 
                                            alt="profile pic" 
                                            loading="lazy" 
                                            class="profile-pic">
                                            <div class="flex-column gap-5">
                                                {{ block.settings.profile_info }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           {% when 'video' %} 
                              <video class="video--{{ section.id }}" width="230" height="400" controls>
                                  <source src="{{ block.settings.video | video_tag }}
                              </video>
                        {% endcase %}
                    {% endfor %}
                {% endif %}
              </div>
            </div>
        </div>
        {% if section.settings.dots == true %}
          <div class="dots-box dots-container--{{ section.id }}">
          </div>
        {% endif %}
    </div>
</div>

<script>
  function BuildSlider(id, layout) {
    const slider = document.querySelector(".slider--"+id);
    const dotsContainer = document.querySelector(".dots-container--"+id)
    let displayedElements = 0
    let slides = ''

    function actualizarVariable(layoutt, l1, l2, l3, l4) {
      if (layoutt == "products") {
        slides = l1;
        displayedElements = 5
      } else if (layoutt == "reviews") {
        slides = l2;
        displayedElements = 3
      } else if (layoutt == "collections") {
        slides = l3;
        displayedElements = 5
      } else {
        slides = l4;
        displayedElements = 4
      }
    }
    
    actualizarVariable("{{ section.settings.content }}", document.querySelectorAll(".product--{{ section.id }}"), document.querySelectorAll(".review-slide--{{ section.id }}"), document.querySelectorAll(".collection--{{ section.id }}"), document.querySelectorAll(".video--{{ section.id }}"));

    // console.log(document.querySelectorAll(".video--{{ section.id }}").length, slides.length)
    // console.log(displayedElements)
    
    const prevButton = document.getElementById("prev--"+id);
    const nextButton = document.getElementById("next--"+id);
    const slideWidth = slides[0].offsetWidth;
    let screenWidth = window.innerWidth;
    let currentIndex = 0;
    let viewBreaker = 0
  
    if (screenWidth >= 1280) {
        viewBreaker = 2
    } else if (screenWidth > 900 && screenWidth < 1280) {
        viewBreaker = 1
    } else {
        viewBreaker = 0;
    }

    for (let i = 0; i < (slides.length - displayedElements + 1); i++) {
      dotsContainer.innerHTML += `<span class="bar--${i}-${layout}"></span>`
    }

    
    nextButton.addEventListener("click", (e) => {
        currentIndex = (currentIndex + 1) % (slides.length - displayedElements + 1);
        updateSlider(); 
        e.preventDefault();
    });
    
    prevButton.addEventListener("click", (e) => {
        // currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        currentIndex = currentIndex - 1;
        if (currentIndex < 0) {
          currentIndex = slides.length - displayedElements
        }
        updateSlider();  
        e.preventDefault();
    });

   document.querySelector(`.bar--${currentIndex}-${layout}`).classList.add("activee")
    
    function updateSlider() {
      const offset = -currentIndex * (slideWidth + 50);
      slider.style.transform = `translateX(${offset}px)`;
      if (currentIndex > 0) {
        document.querySelector(`.bar--${currentIndex - 1}-${layout}`).classList.remove("activee")
      } else if (currentIndex === 0) {
        document.querySelector(`.bar--${0}-${layout}`).classList.add("active")
        document.querySelector(`.bar--${(slides.length - displayedElements)}-${layout}`).classList.remove("activee")
      }
      let bar = document.querySelector(`.bar--${currentIndex}-${layout}`)
      bar.classList.add("activee")
    }
    updateSlider();
  }

  var slider = new BuildSlider("{{ section.id }}", "{{ section.settings.content }}")

</script>

{% if section.settings.allow_variants %}
  <script>
    function buildVariants(id) {
      console.log("{{ pro.id }}")
      let number = {{ pro.variants.size }}
      let containerr = document.getElementById("color-radios--container--"+id)
      let arrr = []
      let ids = []
      let availables = []
      {% for variant in pro.variants %}
        if (!arrr.includes('{{ variant.option2 }}')) {
         arrr.push("{{ variant.option2 }}")
        }
      {% endfor %}
  
      {% assign default_size = pro.variants.first %}
      {% assign target_size = "Medium" %}
  
        {% for color_option in pro.options_with_values[1].values %}
          {% assign variant_with_color = pro.variants | where: "option2", color_option %}
          
          {% if variant_with_color.size > 0 %}
            {% comment %}{% assign selected_variant = variant_with_color.first %} {% endcomment %}
              {% assign selected_variant = variant_with_color | where: "option1", target_size | first %}
          {% else %}
            {% assign selected_variant = default_size %}
          {% endif %}
          // console.log("{{ selected_variant.option1 }}", "{{ color_option }}", "{{ selected_variant.inventory_quantity }}")
          ids.push("{{ selected_variant.id }}")
          availables.push("{{ selected_variant.inventory_quantity }}")
        {% endfor %}
        
      arrr.forEach((element, index) => {
        if (index < 5 && element !== "") {
  
          containerr.innerHTML += `
          <input type="radio" name="color" id="product--${index}--{{ pro.id }}" form="form-add-product--{{ pro.id }}" value="${ids[index]}" class="custom-hidden custom-hidden--{{ pro.id }}">
          <label class="custom-radio custom-radio--{{ pro.id }}" for="product--${index}--{{ pro.id }}">
            <span class="custom-radio--circle custom--{{ pro.id }}"  style="background-color: ${element}"></span>
          </label>
          `;
        }
      });
  
      let radiobuttons = document.querySelectorAll(".custom-radio--{{ pro.id }}")
      let inputs = document.querySelectorAll(".custom-hidden--{{ pro.id }}")
      let addBtn = document.getElementById("add--{{ pro.id }}")
      
      for (let i = 0; i < radiobuttons.length; i++) {
        radiobuttons[i].addEventListener('click', function() {
        document.getElementById('chosen-variant--{{ pro.id }}').value = inputs[i].value;
        if (availables[i] > 0 ) {
          addBtn.removeAttribute("disabled");
        } else {
          addBtn.disabled = true;
        }
      });
      }
    }
  
    var elements = buildVariants("{{ pro.id }}")
  </script>
{% endif %}

{% schema %}
    {
        "name": "custom slider",
        "class": "custom-slider--new",
        "blocks": [
            {
                "name": "review",
                "type": "review",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "stars",
                        "label": "Review's stars"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "<p>Text</p>"
                    },
                    {
                        "type": "image_picker",
                        "id": "profile_pic",
                        "label": "Profile pic"
                    },
                    {
                        "type": "richtext",
                        "id": "profile_info",
                        "label": "<p>Profile info</p>"
                    }
                ]
            }, 
            {
                "name": "video",
                "type": "video",
                "settings": [
                    {
                        "type": "video",
                        "id": "video",
                        "label": "Video"
                    }
                ]
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Main heading"
            },
            {
               "type": "select",
               "id": "content",
               "label": "Choose content type",
               "options": [
                    {
                        "value": "products",
                        "label": "products"
                    },
                    {
                        "label": "reviews",
                        "value": "reviews"
                    },
                    {
                        "label": "collections",
                        "value": "collections"
                    },
                    {
                        "label": "videos",
                        "value": "videos"
                    }
               ]
            },
            {
                "type": "collection",
                "id": "product_slides",
                "label": "Collection"
            },
            {
              "type": "checkbox",
              "id": "allow_variants",
              "default": false,
              "label": "Display Variant  picker"
            },
            {
                "type": "collection_list",
                "id": "collections",
                "label": "Colllection list"
            },
            {
                "type": "checkbox",
                "id": "dots",
                "default": true,
                "label": "Progress bars"
            },
            {
                "type": "image_picker",
                "id": "portrait",
                "label": "Portrait image"
            },
            {
              "type": "checkbox",
              "id": "allow_portrait",
              "default": false,
              "label": "Display portrait image"
            },
            {
               "type": "select",
               "id": "align",
               "label": "align the slider",
               "options": [
                    {
                        "value": "centeer",
                        "label": "center"
                    },
                    {
                        "label": "right",
                        "value": "right"
                    },
                    {
                        "label": "left",
                        "value": "left"
                    }
               ],
              "default": "centeer"
            }
        ],
        "presets": [
            {
                "name": "Custom slider"
            }
        ]
    }
{% endschema %}