{% assign selected_collection = collections[section.settings.product_slides] %}

<div class="custom-slider--father">
    <div class="custom-slider--main-container">
        <div class="custom-slider--top-content">
            <h1>{{ section.settings.heading }}</h1>
            <div class="custom-slider--arrows-box">
                <button class="custom-slider--arrows" id="prev--{{ section.id }}">
                    <span>{% render 'reviews-left-arrow' %}</span>
                </button>
                <button class="custom-slider--arrows" id="next--{{ section.id }}">
                    <span>{% render 'reviews-right-arrow' %}</span>
                </button>
            </div>
        </div>
        <div class="custom-slider--first-slider-container {{ section.settings.align }}">
            <div class="custom-slider--slider {{ section.settings.slider_width }}--container">
              <div class="align-gap--{{ section.settings.content }} custom-slider--inner-box slider--{{ section.id }}">             
                {% if section.settings.content == "products" %}
                  {% if section.settings.allow_portrait == true %}
                    <div class="portrait-container product--{{ section.id }}">
                      <img 
                      src="{{ section.settings.portrait | img_url: 'master' }}" 
                      alt="portrait pic" 
                      class="portrait-pic" 
                      loading="lazy">
                    </div>
                  {% endif %}
                  {% for pro in selected_collection.products %}
                      {% render 'custom-product-card', pro: pro, allow_variants: section.settings.allow_variants, sec: section %}
                  {% endfor %}
                {% elsif section.settings.content == "collections" %}
                    {% for collection in section.settings.collections %}
                        <a 
                        href="{{ collection.url }}" 
                        class="custom-collection--card collection--{{ section.id }}" 
                        style="background-image: url('{{ collection.image | img_url: 'master' }}');">
                            <h1>{{ collection.title }}</h1>
                        </a>
                    {% endfor %}
                {% elsif section.settings.content == "reviews" or section.settings.content == "videos" %}
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'review' %}
                                <div class="reviews-block--container review-slide--{{ section.id }}">
                                    <div class="reviews-block--flex-column">
                                        <img 
                                        src="{{ block.settings.stars | img_url: 'master' }}" 
                                        alt="stars" 
                                        class="stars" 
                                        loading="lazy">
                                        <h1>{{ block.settings.heading }}</h1>
                                        {{ block.settings.text }}
                                        <div class="reviews-block--profile flex gap-15">
                                            <img 
                                            src="{{ block.settings.profile_pic | img_url: 'master' }}" 
                                            alt="profile pic" 
                                            loading="lazy" 
                                            class="profile-pic">
                                            <div class="flex-column gap-5">
                                                {{ block.settings.profile_info }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           {% when 'video' %} 
                              <video class="video--{{ section.id }}" width="230" height="400" controls>
                                  <source src="{{ block.settings.video | video_tag }}
                              </video>
                        {% endcase %}
                    {% endfor %}
                {% endif %}
              </div>
            </div>
        </div>
        {% if section.settings.dots == true %}
          <div class="dots-box dots-container--{{ section.id }}">
          </div>
        {% endif %}
    </div>
</div>

<script>
  function BuildSlider(id, layout) {
    const slider = document.querySelector(".slider--"+id);
    const dotsContainer = document.querySelector(".dots-container--"+id)
    let screenWidth = window.innerWidth; 
    let displayedElements = 0
    let slides = ''

    function fitResponsive(lay) {
      if (screenWidth > 1280) {
        lay === "reviews" ? displayedElements = 3 : displayedElements = 4
      } else if (screenWidth <= 1280 && screenWidth >= 1024) {
        lay === "reviews" ? displayedElements = 2 : displayedElements = 3
      } else if (screenWidth < 1024 && screenWidth >= 768) {
        displayedElements = 2
      } else {
        displayedElements = 1
      }
    }

    function actualizarVariable(layoutt, width, l1, l2, l3, l4) {
      displayedElements = 4
      fitResponsive()
      if (layoutt == "products") {
        slides = l1;
      } else if (layoutt == "reviews") {
        slides = l2;
      } else if (layoutt == "collections") {
        slides = l3;
      } else {
        slides = l4;
      }
    }
    
    actualizarVariable("{{ section.settings.content }}", "{{ section.settings.slider_width }}", document.querySelectorAll(".product--{{ section.id }}"), document.querySelectorAll(".review-slide--{{ section.id }}"), document.querySelectorAll(".collection--{{ section.id }}"), document.querySelectorAll(".video--{{ section.id }}"));
    console.log(displayedElements)
    const prevButton = document.getElementById("prev--"+id);
    const nextButton = document.getElementById("next--"+id);
    const slideWidth = slides[0].offsetWidth;
    let currentIndex = 0;
    let viewBreaker = 0

    for (let i = 0; i < (slides.length - displayedElements + 1); i++) {
      dotsContainer.innerHTML += `<span class="bar--${i}-${layout}"></span>`
    }

    
    nextButton.addEventListener("click", (e) => {
        currentIndex = (currentIndex + 1) % (slides.length - displayedElements + 1);
        updateSlider(); 
        e.preventDefault();
    });
    
    prevButton.addEventListener("click", (e) => {
        // currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        currentIndex = currentIndex - 1;
        if (currentIndex < 0) {
          currentIndex = slides.length - displayedElements
        }
        updateSlider();  
        e.preventDefault();
    });

   document.querySelector(`.bar--${currentIndex}-${layout}`).classList.add("activee")
    
    function updateSlider() {
      const offset = -currentIndex * (slideWidth + 40);
      slider.style.transform = `translateX(${offset}px)`;
      if (currentIndex > 0) {
        document.querySelector(`.bar--${currentIndex - 1}-${layout}`).classList.remove("activee")
      } else if (currentIndex === 0) {
        document.querySelector(`.bar--${0}-${layout}`).classList.add("active")
        document.querySelector(`.bar--${(slides.length - displayedElements)}-${layout}`).classList.remove("activee")
      }
      let bar = document.querySelector(`.bar--${currentIndex}-${layout}`)
      bar.classList.add("activee")
    }
    updateSlider();
  }

  var slider = new BuildSlider("{{ section.id }}", "{{ section.settings.content }}")

</script>

{% schema %}
    {
        "name": "custom slider",
        "class": "custom-slider--new",
        "blocks": [
            {
                "name": "review",
                "type": "review",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "stars",
                        "label": "Review's stars"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "<p>Text</p>"
                    },
                    {
                        "type": "image_picker",
                        "id": "profile_pic",
                        "label": "Profile pic"
                    },
                    {
                        "type": "richtext",
                        "id": "profile_info",
                        "label": "<p>Profile info</p>"
                    }
                ]
            }, 
            {
                "name": "video",
                "type": "video",
                "settings": [
                    {
                        "type": "video",
                        "id": "video",
                        "label": "Video"
                    }
                ]
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Main heading"
            },
            {
               "type": "select",
               "id": "content",
               "label": "Choose content type",
               "options": [
                    {
                        "value": "products",
                        "label": "products"
                    },
                    {
                        "label": "reviews",
                        "value": "reviews"
                    },
                    {
                        "label": "collections",
                        "value": "collections"
                    },
                    {
                        "label": "videos",
                        "value": "videos"
                    }
               ]
            },
            {
                "type": "collection",
                "id": "product_slides",
                "label": "Collection"
            },
            {
              "type": "checkbox",
              "id": "allow_variants",
              "default": false,
              "label": "Display Variant  picker"
            },
            {
                "type": "collection_list",
                "id": "collections",
                "label": "Colllection list"
            },
            {
                "type": "checkbox",
                "id": "dots",
                "default": true,
                "label": "Progress bars"
            },
            {
               "type": "select",
               "id": "slider_width",
               "label": "Slider width",
               "options": [
                    {
                        "value": "first-width",
                        "label": "small"
                    },
                    {
                        "value": "second-width",
                        "label": "medium"
                    },
                    {
                        "value": "third-width",
                        "label": "large"
                    },
                    {
                        "value": "forth-width",
                        "label": "extra large"
                    },
                    {
                        "value": "fifth-width",
                        "label": "huge"
                    }
               ],
              "default": "fifth-width"
            },
            {
                "type": "image_picker",
                "id": "portrait",
                "label": "Portrait image"
            },
            {
              "type": "checkbox",
              "id": "allow_portrait",
              "default": false,
              "label": "Display portrait image"
            },
            {
               "type": "select",
               "id": "align",
               "label": "align the slider",
               "options": [
                    {
                        "value": "centeer",
                        "label": "center"
                    },
                    {
                        "label": "right",
                        "value": "right"
                    },
                    {
                        "label": "left",
                        "value": "left"
                    }
               ],
              "default": "centeer"
            }
        ],
        "presets": [
            {
                "name": "Custom slider"
            }
        ]
    }
{% endschema %}