<div class="custom-ig--father">
    <div id="arrows-container" class="custom--ig-btn-box">
        <button class="prev-btn--{{ section.id }} ig--btn">&#139;</button>
        <button class="next-btn--{{ section.id }} ig--btn">&#155;</button>
    </div>
    <div class="slider-ig--{{ section.id }} custom-ig--slider">
        {% for block in section.blocks %}
        <div class="slide-ig--{{ section.id }} custom-ig--slide">
            <img 
            class="custom-ig--img" 
            src="{{ block.settings.instagram_image | img_url: 'master' }}" 
            alt="post"
            loading="lazy">
            {%- render 'icon-instagram' -%}
        </div>
        {% endfor %}      
    </div>
</div>

<script>
    function BuildReviews(id) {
    
    const slider = document.querySelector('.slider-ig--'+id);
    const slides = document.querySelectorAll('.slide-ig--'+id);
    const prevButton = document.querySelector('.prev-btn--'+id);
    const nextButton = document.querySelector('.next-btn--'+id);
    let slideWidth = slides[0].clientWidth;
    let currentIndex = 0;
    let displayed = 5
      console.log(slides.length - displayed)

    nextButton.addEventListener('click', (e) => {
      currentIndex = (currentIndex + 1) % (slides.length - displayed);
      console.log(currentIndex)
        updateSlider();
        e.preventDefault()
    });

    prevButton.addEventListener('click', (e) => {
        // currentIndex = (currentIndex - 1 + slides.length) % slides.length;
      currentIndex = currentIndex - 1;
      if (currentIndex < 0) {
          currentIndex = slides.length - displayed - 1
        }
        updateSlider();
        e.preventDefault()
    });

    function updateSlider() {
      console.log(slideWidth)
        const translateX = -currentIndex * slideWidth;
        slider.style.transform = `translateX(${translateX}px)`;
    }

    updateSlider();
  }

  var Reviewslider = new BuildReviews("{{ section.id }}")
</script>

{% schema %}
    {
        "name": "instagram carousel",
        "class": "instagram-post",
        "blocks": [
            {
                "type": "text",
                "name": "instagram post",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "instagram_image",
                        "label": "instagram post"
                    }
                ]
            }
        ],
       "presets": [
            {
                "category": "instagram",
                "name":"instagram posts galery"
            }
       ]
    }
{% endschema %}