<div class="custom-ig--grandpa" style="background-color: {{ section.settings.bg_color }}">
  <div class="custom-ig--instagram-content">
    <div class="custom-ig--inner-flex">
      <!-- <img 
      src="{{ section.settings.logo | img_url: 'master' }}" 
      class="custom-ig--logo" 
      loading="lazy" 
      alt="logo"> -->
      <div class="custom-ig--text-flex">
        <h1>{{ section.settings.name }}</h1>
        {{ section.settings.small_text }}
      </div>
    </div>
    <a href="{{ settings.social_instagram_link }}" class="custom-ig--redirect">
      {%- render 'icon-instagram' -%}
      <p>{{ section.settings.btn }}</p>
    </a>
  </div>
  <div class="custom-ig--father">
      <div id="arrows-container" class="custom--ig-btn-box">
          <button class="prev-btn--{{ section.id }} ig--btn">&#139;</button>
          <button class="next-btn--{{ section.id }} ig--btn">&#155;</button>
      </div>
      <div class="slider-ig--{{ section.id }} custom-ig--slider">
          {% for block in section.blocks %}
          <div class="slide-ig--{{ section.id }} custom-ig--slide">
              <img 
              class="custom-ig--img" 
              src="{{ block.settings.instagram_image | img_url: 'master' }}" 
              alt="post"
              loading="lazy">
              {%- render 'icon-instagram' -%}
          </div>
          {% endfor %}      
      </div>
  </div>
</div>


<script>
    function BuildReviews(id) {
    
    const slider = document.querySelector('.slider-ig--'+id);
    const slides = document.querySelectorAll('.slide-ig--'+id);
    const prevButton = document.querySelector('.prev-btn--'+id);
    const nextButton = document.querySelector('.next-btn--'+id);
    let slideWidth = slides[0].clientWidth;
    let currentIndex = 0;
    let displayed = 5
      console.log(slides.length - displayed)

    nextButton.addEventListener('click', (e) => {
      currentIndex = (currentIndex + 1) % (slides.length - displayed);
      console.log(currentIndex)
        updateSlider();
        e.preventDefault()
    });

    prevButton.addEventListener('click', (e) => {
      // currentIndex = (currentIndex - 1 + slides.length) % slides.length;
      currentIndex = currentIndex - 1;
      currentIndex < 0 ? currentIndex = slides.length - displayed - 1 : ''
      updateSlider();
      e.preventDefault()
    });

    function updateSlider() {
      console.log(slideWidth)
        const translateX = -currentIndex * slideWidth;
        slider.style.transform = `translateX(${translateX}px)`;
    }

    updateSlider();
  }

  var Reviewslider = new BuildReviews("{{ section.id }}")
</script>

{% schema %}
    {
        "name": "instagram carousel",
        "class": "instagram-post",
        "blocks": [
            {
                "type": "text",
                "name": "instagram post",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "instagram_image",
                        "label": "instagram post"
                    }
                ]
            }
        ],
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
            "type": "color",
            "id": "bg_color",
            "default": "#FFF",
            "label": "Background color"
        },
        {
            "type": "text",
            "id": "name",
            "default": "@tolerencefam",
            "label": "Instagram profile"
        },
        {
            "type": "text",
            "id": "btn",
            "default": "Follow us on instagram",
            "label": "Button text"
        },
        {
            "type": "richtext",
            "id": "small_text",
            "label": "Followers and following",
            "default": "<p>default</p>"
        }
      ],
       "presets": [
            {
                "category": "instagram",
                "name":"instagram posts galery"
            }
       ]
    }
{% endschema %}